=content_for :title do
	Edytuj artykuł

=content_for :content do
	=form_for @article do |f|
		=f.label :title, "Tytuł:"
		%br=f.text_field :title
	
		%br=f.label :body, "Treść:"
		%br=f.tinymce :body
	
		%br=f.label :author, "Autor:"
		%br=f.text_field :author
	
		%br=f.label :article_sub_category_id, "Podkategoria"
		%br=f.collection_select(:article_sub_category_id, ArticleSubCategory.all, :id, :name)
		
		%br=f.submit "Uaktualnij artykuł"
	
