=content_for :title do
	Dodaj artykuł

=content_for :content do
	=form_for [@article_sub_category, @article] do |f|
		-if @article.errors.any?
			%div#errorExaplanation
				%h2="#{pluralize(@article.errors.count, "błąd", "błędy")} nie pozwolił na zapisanie artykułu:"
				%ul
					-@article.errors.full_messages.each do |msg|
						%li=msg
		=f.label :title, "Tytuł:"
		%br=f.text_field :title
	
		%br=f.label :body, "Treść:"
		%br=f.tinymce :body
	
		%br=f.label :author, "Autor:"
		%br=f.text_field :author
	
		%br=f.label :article_sub_category_id, "Podkategoria"
		%br=f.collection_select(:article_sub_category_id, ArticleSubCategory.all,:id, :name)
		
		%br=f.submit "Dodaj artykuł"
	
	