=content_for :content do
	%h2=@article.title
	-if admin_signed_in?
		%p.right
			=link_to "Edytuj", edit_article_path(@article)
			|
			=link_to "Usuń", article_path(@article), :method => 'delete'
	%p=link_to "Powrót do działu #{@article.article_sub_category.article_category.name}", article_category_path(@article.article_sub_category.article_category_id)
	%p=raw(@article.body)
	%br
	%b=@article.author
