-@all_calendar_events.each do |ce|

	%div.latest_news
		%div.header_03=ce.title
		%p
			Od: 
			=ce.from.to_formatted_s(:standard) 
		%p
			Do: 
			=ce.to.to_formatted_s(:standard)
		%br
		%p
			=ce.note
		-if user_signed_in?
			%p.right
				=link_to "Edytuj", edit_calendar_event_path(ce)
				|
				=link_to "Usuń", calendar_event_path(ce), :method => 'delete'
			
	%div.margin_bottom_20.horizontal_divider 
	%div.margin_bottom_20
