-if user_signed_in?
	Witaj 
	=current_user.first_name + " " + current_user.last_name
	%br
	=link_to "Wyloguj", destroy_user_session_path, :method => 'delete' 
	|
	=link_to 'Edytuj konto', edit_user_registration_path
-else
	=link_to 'Zaloguj', new_user_session_path