=content_for :title do
	=@gallery.name

=content_for :content do
	-if admin_signed_in?
		%p.right=link_to "Dodaj zdjęcie", new_gallery_gallery_image_path(@gallery)
	-if @gallery.image.present?
		.image_wrapper_01=image_tag @gallery.image.url(:medium)
	%h4=@gallery.description
	-if @gallery.picassa_address.present?
		%p=sanitize("Więcej zdjęć pod adresem #{"Galeria " + @gallery.name + " " + @gallery.picassa_address}")
	%br
	%br
	%br
	%br
	%br
	%br
	%hr
	-@gallery.gallery_images.each do |gi|	
		%p.image_wrapper_01
			=link_to (image_tag gi.image.url(:thumb)), gallery_gallery_image_path(@gallery, gi)
			%br
			-if admin_signed_in?
				=link_to "Usuń", [@gallery, gi], :method => 'delete'
		
	