=content_for :content do
	-if admin_signed_in?
		%p.right=link_to "Dodaj nowego newsa", new_recent_event_path(@admin)
	-if @recent_events
		-@recent_events.each do |r|
			%h2=r.title
			-if r.admin_name.present?
				%p
					="Autor: "
					=r.admin_name
			%br
			%p=raw(truncate(r.description, :length => 200))
			%p=link_to "...pokaż całego newsa", recent_event_path(r)
			
			.margin_bottom_20.horizontal_divider 
			.margin_bottom_20
			
			
			
			
