=content_for :content do
	-if admin_signed_in?
		=link_to "Dodaj nowego newsa", new_recent_event_path(@admin)
	-if @recent_events
		-@recent_events.each do |r|
			%h2=r.title
			%p=r.description
			-if r.admin_name.present?
				%p.right
					="Autor: "
					%br
					=r.admin_name
			.margin_bottom_20.horizontal_divider 
			.margin_bottom_20
			
			
			
			
