=content_for :title do
	Uaktualnij drużynę

=content_for :content do
	=form_for @scout_team do |f|
		=f.label :name, "Nazwa drużyny:"
		%br=f.text_field :name
		
		=f.label :came_into_being, "Powstała w:"
		%br=f.date_select :came_into_being
	
		%br=f.label :team_leader, "Drużynowy:"
		%br=f.text_field :team_leader
		
		=f.label :sidekick, "Przyboczny/Przyboczni"
		%br=f.text_field :sidekick
	
		%br=f.label :active, "Aktywna?"
		%br=f.check_box :active 
	
		%br=f.label :body, "Opis lub historia drużyny:"
		%br=f.text_area :body
	
		%br=f.label :photo, "Zdjęcie drużyny:"
		%br=f.text_field :photo
	
		%br=f.submit "Uaktualnij drużynę!"