=content_for :title do
	Drużyny
=content_for :content do
	-if user_signed_in?
		%p.right
			=link_to "Dodaj drużynę", new_scout_team_path
	-@scout_teams.each do |st|
		%h3
			=link_to st.name, st
		="Dołączyło już: #{st.scout_team_members.count}"
		%br
		%br
		%p=truncate(st.body, :length => 50)
		-if user_signed_in?
			%p.right
				=link_to "Edytuj", edit_scout_team_path(st)
				|
				=link_to "Usuń drużynę", st, :method => 'delete'
				