=content_for :title do
	Utwórz nową drużynę

=content_for :content do
	=form_for @scout_team do |f|
		=f.label :name, "Nazwa drużyny:"
		%br=f.text_field :name
		
		=f.label :came_into_being, "Powstała w:"
		%br=f.date_select :came_into_being, :use_month_numbers => true, :start_year => 1981, :end_year => Time.now.year
	
		=f.label :team_leader, "Drużynowy:"
		%br=f.text_field :team_leader
	
		=f.label :active, "Aktywna"
		=f.check_box :active
		%br
	
		%br=f.label :body, "Opis lub historia drużyny:"
		%br=f.text_area :body
	
		=f.label :photo, "Zdjęcie drużyny:"
		%br=f.text_field :photo
	
		%br=f.submit "Utwórz drużynę!"