=content_for :title do
	=@scout_team.name
=content_for :content do
	-if @scout_team.photo.present?
		.image_wrapper_01=image_tag(@scout_team.photo)
	%h3="Drużynowy: #{@scout_team.team_leader}"
	%h4="Przyboczny/Przyboczni: #{@scout_team.sidekick}"
	%p=@scout_team.body
	%p=@scout_team.active
	
	%h3 
		="Członkowie: (#{@scout_team.scout_team_members.count})"
	%ul
	-@scout_team.scout_team_members.each do |stm|
		%li=link_to stm.first_name + " " + stm.last_name, stm
		-if admin_signed_in?
			=link_to "Usuń osobę", scout_team_member_path(stm), :method => 'delete'
	%br
	%p=link_to "Dołącz do drużyny", new_scout_team_scout_team_member_path(@scout_team)
		