=content_for :title do 
	-if @article_category.image.present?
		.image_wrapper_01=image_tag(@article_category.image)
	=@article_category.name
=content_for :content do
	-if admin_signed_in?
		%p.right
			=link_to "Dodaj kategorię", new_article_category_article_sub_category_path(@article_category)
	%h5=@article_category.description
	-@article_category.article_sub_categories.each do |asc|
		%h2=asc.name
		-if admin_signed_in?
			%p.right=link_to "Dodaj nowy artykuł do działu #{asc.name}", new_article_sub_category_article_path(asc)
		=asc.body
		%ul
			-asc.articles.each do |a|
				.margin_bottom_20.horizontal_divider 
				.margin_bottom_20
				
				%b=a.title
				%p=truncate(a.body, :length => 50, :ommision => '...' )
				%p.right=link_to "czytaj więcej", a
				-if admin_signed_in?
					%p.right
						=link_to "Edytuj", edit_article_category_article_path(@article_sub_category, a)
						|
						=link_to "Usuń", article_sub_category_article_path(a), :method => 'delete'
			
			.margin_bottom_20.horizontal_divider 
			.margin_bottom_20.horizontal_divider 
		
				